body {
  background-image: url(../assets/background.png);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.content { 
  margin: 0 auto; 
  width: 50%;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.content__heading {
color: #ffd379;
text-shadow: 2px 2px #ffa0a0;
}

.card {
  padding: 20px;
  border-radius: 15px; 
}

.card__heading {
  color: #346dcc;
  text-shadow: 1px 1px #ca6a4b;
  font-size: 2rem;
  padding: 0 1rem;
}

.card--bio {
    background-color:#c73939d1;
    margin-top: 2rem;  
}

.card__open-bracket {
    text-align: left;
    margin: 0px;
}

.card__closing-bracket {
    text-align: right;
    margin: 0px;
}

.card--project {
  margin-bottom: 2rem;
}

.card--llamaface {
  background-color:#ffd921eb;
  color: #443932;
}

.card--llamaface * {
  color: #443932;
}

.card--task-tracker {
  background-color:#525364eb;
}

.card--task-tracker * {
  color: white;
}

.card__subtitle {
  margin-top: 0px;
}

.card__title {
  margin-bottom: 5px;
  margin-right: 50px;
}

.card .video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.card .video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.card--technologies {
    background-color:#5d7c59d4;
    padding: 20px;
    border-radius: 15px;   
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
}

.technologies__header {
  margin-bottom: 1rem;
  display: block;
}

.technologies__group {
  display: flex;
  justify-content: center;
}

.technologies__group--title {
  flex: 0 0 100px;
  float: left;
}

.technologies__group--content {
  text-align: left;
  margin-bottom: .5rem;
  width: 350px;
}

.technologies__list {
  list-style-type: none;
  list-style-position:inside;
  margin: 0px;
  padding: 15px;
}

.social {
    margin-top: 40px;
}

.social__icon {
  font-size: 50px !important;
  padding: 10px;
  color: #30291fd4;
  padding-left: 20px;
  padding-right: 20px;
}

.social__icon:hover, .card__icon:hover {
  color: #efc417;
}

.card__icon.fa-github {
  float: left;
  font-size: 28px !important;
  padding: 0px;
  padding-right: 10px;
}

.card__icon.fa-link {
  float: left;
  font-size: 25px !important;
  padding: 0px;
  margin-top: 3px;
}

@media only screen and (max-width: 900px) {
  .content {
      width: 80%;
  }
}

@media only screen and (max-width: 510px) {
  .content {
    width: 100%;
  }

  .card--technologies { 
    font-size: 13px;
  }
}