#logo {
    height: 85%;
    width: 85%;
}

#content { 
    margin: 0 auto; 
    width: 50%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

ul {
    display: inline-block;
    list-style-type: none;
    list-style-position:inside;
    margin: 0px;
    padding: 15px;
}

li:hover {
    color: #efc417;
}

/* bio */


h1, li {
    text-align: left;
}

#bio {
    background-color:#c73939d1;
    padding: 20px;
    border-radius: 15px;   
}

h3#opening {
    text-align: left;
    margin: 0px;
}

h3#closing {
    text-align: right;
    margin: 0px;
}

small {
    font-size: 10px;
}

h1 {
    color: black;
}

/* projects */

#llamaface {
    background-color:#ffe200e6;
    padding: 20px;
    border-radius: 15px;
}

.fa.fa-github {
    float: left;
    font-size: 28px !important;
    padding: 0px;
    padding-right: 10px;
}

.fa.fa-link {
    float: left;
    font-size: 25px !important;
    padding: 0px;
    margin-top: 3px;
}

#projects img {
    height: 80%;
    width: 80%;
}

#llamaface, #llamaface div {
    color: #443932;
}

div {
    color: white;
}

h2 {
    margin-bottom: 5px;
    margin-right: 50px;
}

h2 a:hover {
    color: #777c82;
}

#llamaface p {
    margin-top: 0px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* technologies */

#technologies {
    background-color:#007afdd1;
    padding: 20px;
    border-radius: 15px;   
    font-size: 15px;
}

#technologies ul {
    width: 23%;
}

/* social icons */

a {
    color: inherit;
    text-decoration: none;
}

#social {
    margin-top: 40px;
}

.fa {
    font-size: 50px !important;
    padding: 10px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.fa:hover {
    color: #efc417;
}

.fa-file-o {
    font-size: 0;
}

/* mobile */

@media only screen and (max-width: 900px) {
    #content {
        width: 80%;
    }
}

@media only screen and (max-width: 510px) {
    #technologies ul {
        width: 100%;
    }

    #logo {
        height: 110%;
        width: 110%;
    }    
}