html {
  overflow: hidden;
  height: 100%;
}

body {
  color: rgb(238, 238, 238);
  background-color: rgb(27, 27, 27);
  height: 100%;
  overflow: auto;
  font-size: 1.25rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.content { 
  margin: 0 auto;
  width: 70%;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.content__heading {
  color: #ffd379;
  text-shadow: 2px 2px #ffa0a0;
  font-size: 2.5rem;
}

.section {
  margin-top: 4rem;
}

.card {
  padding: 20px;
  border-radius: 10px; 
}

.card--name {
  margin-top: 2rem;
  padding: 6rem 0rem 0rem 0rem;
}

.card--bio {
  font-size: 1.5rem;
}

.card--bio p {
  margin: 0rem;
}

.card--bio .bio__company {
  font-size: 1.3rem;
}

.card__subtitle {
  margin-top: 0px;
}

.card__title {
  margin-bottom: 5px;
  margin-right: 50px;
}

.card--technologies {
  padding: 20px;
  border-radius: 10px;   
  font-size: 1.15rem;
  display: flex;
  border: 1px solid white;
  justify-content: space-evenly;
}

.technologies__list td {
  text-align: left;
  font-size: 1rem;
}

.technologies__list th {
  text-align: left;
  width: 120px;
}

.social {
  margin-top: 6rem;
  margin-bottom: 1rem;
}

.social__link {
  text-decoration: underline;
  display: inline-block;
  font-size: 1.25rem;
}

footer {
  bottom: 1.5rem;
  position: fixed;
  width: inherit;
}

@media only screen and (min-width: 1400px) {
  .content {
      width: 55%;
  }
}

@media only screen and (max-width: 900px) {
  .content {
      width: 80%;
  }
}

@media screen and (max-width: 767px) {
  body {
    -webkit-overflow-scrolling: touch;
  }
}

@media only screen and (max-width: 510px) {
  .content {
    width: 100%;
  }

  .content__heading {
    font-size: 1.8rem;
  }
  
  .card--name {
    padding: 3rem 0rem 0rem 0rem;
  }

  .section {
    margin-top: 2rem;
  }

  .card--bio {
    font-size: 1.3rem;
  }

  .card--bio .bio__company {
    font-size: 1.2rem;
  }

  .card--technologies td { 
    font-size: 1rem;
  }

  .card--technologies th { 
    font-size: 1.2rem;
  }

  .social__link {
    font-size: 1.1rem;
  }
}
